<a href="https://colab.research.google.com/github/Sainiakshay798/ANN/blob/main/ANN_with_data_set_wine_and_social_networki_Ads.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
# immport the library and inbilt data set wine


from sklearn.datasets import load_wine
import pandas as pd
import numpy as np

In [2]:
wine = load_wine()

In [3]:

df = pd.DataFrame(data=wine.data, columns=wine.feature_names)

In [4]:
df.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0

In [5]:
df['target'] = wine.target

In [6]:
# show the data set 
df.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0

In [7]:

df['target'].value_counts()

1    71
0    59
2    48
Name: target, dtype: int64

In [8]:

X = df.drop("target",1)
Y = df["target"]

<ipython-input-8-db297d0c0a06>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = df.drop("target",1)

In [9]:

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [10]:
# eiport the tensortFlow 
import tensorflow as tf

In [11]:
model = tf.keras.models.Sequential([
tf.keras.layers.Dense(20, input_shape=(13,), activation='relu'),
tf.keras.layers.Dense(10, activation='relu'),
tf.keras.layers.Dense(5, activation='relu'),
tf.keras.layers.Dense(2, activation='relu'),
tf.keras.layers.Dense(1, activation='sigmoid')
])

In [12]:

model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [13]:

history = model.fit(X_train, y_train, epochs=5, batch_size=100, validation_data=(X_test, y_test))

Epoch 1/5
2/2 [==============================] - 2s 247ms/step - loss: 28.0171 - accuracy: 0.3169 - val_loss: 21.6938 - val_accuracy: 0.3889
Epoch 2/5
2/2 [==============================] - 0s 32ms/step - loss: 25.0637 - accuracy: 0.3169 - val_loss: 19.2037 - val_accuracy: 0.3889
Epoch 3/5
2/2 [==============================] - 0s 33ms/step - loss: 22.1277 - accuracy: 0.3169 - val_loss: 16.7484 - val_accuracy: 0.3889
Epoch 4/5
2/2 [==============================] - 0s 32ms/step - loss: 19.2781 - accuracy: 0.3169 - val_loss: 14.3314 - val_accuracy: 0.3889
Epoch 5/5
2/2 [==============================] - 0s 49ms/step - loss: 16.3147 - accuracy: 0.3169 - val_loss: 11.9624 - val_accuracy: 0.3889

In [14]:

train_loss, train_acc = model.evaluate(X_train, y_train)
test_loss, test_acc = model.evaluate(X_test, y_test)

5/5 [==============================] - 0s 5ms/step - loss: 13.9949 - accuracy: 0.3169
2/2 [==============================] - 0s 12ms/step - loss: 11.9624 - accuracy: 0.3889

In [15]:
# importb the data set

path = '/content/Social_Network_Ads (2).csv' 
df = pd.read_csv(path) 
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [40]:
df['Gender'].replace({'Female':0,'Male':1},inplace=True)  # replase data Femal as a 0 and Male with 1

In [41]:
X1 = df.drop("Purchased",1)
Y1 = df["Purchased"]

<ipython-input-41-620da38a6536>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X1 = df.drop("Purchased",1)

In [42]:

from sklearn.model_selection import train_test_split
X_train1, X_test1, y_train1, y_test1= train_test_split(X1, Y1, test_size=0.2, random_state=42)

In [43]:
# inport the library 
import tensorflow as tf

In [44]:
model = tf.keras.models.Sequential([
tf.keras.layers.Dense(20, input_shape=(4,), activation='relu'),
tf.keras.layers.Dense(10, activation='relu'),
tf.keras.layers.Dense(5, activation='relu'),
tf.keras.layers.Dense(2, activation='relu'),
tf.keras.layers.Dense(1, activation='sigmoid')
])

In [45]:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [46]:

history = model.fit(X_train1, y_train1, epochs=5, batch_size=50, validation_data=(X_test1, y_test1))

Epoch 1/5
7/7 [==============================] - 1s 35ms/step - loss: 0.6928 - accuracy: 0.6406 - val_loss: 0.6921 - val_accuracy: 0.6500
Epoch 2/5
7/7 [==============================] - 0s 7ms/step - loss: 0.6918 - accuracy: 0.6406 - val_loss: 0.6912 - val_accuracy: 0.6500
Epoch 3/5
7/7 [==============================] - 0s 10ms/step - loss: 0.6909 - accuracy: 0.6406 - val_loss: 0.6902 - val_accuracy: 0.6500
Epoch 4/5
7/7 [==============================] - 0s 10ms/step - loss: 0.6901 - accuracy: 0.6406 - val_loss: 0.6893 - val_accuracy: 0.6500
Epoch 5/5
7/7 [==============================] - 0s 10ms/step - loss: 0.6893 - accuracy: 0.6406 - val_loss: 0.6884 - val_accuracy: 0.6500

In [54]:

train_loss, train_acc = model.evaluate(X_train1, y_train1)
test_loss, test_acc = model.evaluate(X_test1, y_test1)

10/10 [==============================] - 0s 2ms/step - loss: 0.6887 - accuracy: 0.6406
3/3 [==============================] - 0s 5ms/step - loss: 0.6884 - accuracy: 0.6500